-- Создание базы данных
CREATE DATABASE ByteKeeperDB;
GO

USE ByteKeeperDB;
GO

-- Таблица Categories
CREATE TABLE Categories (
    CategoryID INT IDENTITY(1,1) PRIMARY KEY,
    CategoryName NVARCHAR(100) NOT NULL UNIQUE
);

-- Таблица Users
CREATE TABLE Users (
    UserID INT IDENTITY(1,1) PRIMARY KEY,
    UserName NVARCHAR(100) NOT NULL UNIQUE
);

-- Таблица Resources
CREATE TABLE Resources (
    ResourceID INT IDENTITY(1,1) PRIMARY KEY,
    Name NVARCHAR(255) NOT NULL,
    Size BIGINT NOT NULL,
    CategoryID INT NOT NULL,
    OwnerID INT NOT NULL,
    FOREIGN KEY (CategoryID) REFERENCES Categories(CategoryID),
    FOREIGN KEY (OwnerID) REFERENCES Users(UserID)
);

-- Начальные данные
INSERT INTO Categories (CategoryName) VALUES 
    ('Документы'), 
    ('Медиа'), 
    ('Архивы');

INSERT INTO Users (UserName) VALUES 
    ('Администратор'), 
    ('Иванов'), 
    ('Петров');