USE ByteKeeperDB;
GO

-- Добавляем колонку isDeleted для Soft Delete
ALTER TABLE Resources ADD isDeleted BIT DEFAULT 0;
GO

-- Обновляем существующие записи
UPDATE Resources SET isDeleted = 0 WHERE isDeleted IS NULL;
GO